apiVersion: apps/v1
kind: Deployment
metadata:
name: bad-app
spec:
replicas: 1
selector:
matchLabels:
app: bad-app
template:
metadata:
labels:
app: bad-app
spec:
containers:
- name: bad
# INTENTIONAL TYPO to produce ImagePullBackOff
image: nginx:latets
ports:
- containerPort: 80
